<html>
<body style="background-color:#ccffff;">
<h1 style="color:green;"><center>Public Grievance</center></h1>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div class="albums-container container-fluid">
    <div class="row">

        	<div class="col-sm-10 col-lg-4">
            	<div class="thumbnail">
                	<a href="#">
                  		<img src="data:image/jpeg;base64,{{album.data}}" style="width:1000px;height:400px;" class="img-responsive">
                	</a>
                	<div class="caption">
                    	<h2>{{ album.desc}}</h2>
                	</div>
            	 </div>
        	</div>

    </div>
</div>
</body>
</html>