<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
		<!-- BASICS -->
        <meta charset="utf-8">
		<!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> -->
        <title>{% block title %}PGAS{% endblock %}</title>
        {% load staticfiles %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="{% static 'PG/css/isotope.css' %}" media="screen" />
		<link rel="stylesheet" href="{% static 'PG/js/fancybox/jquery.fancybox.css' %}" type="text/css" media="screen" />
		<link rel="stylesheet" href="{% static 'PG/css/bootstrap.css' %}">
		<link rel="stylesheet" href="{% static 'PG/css/bootstrap-theme.css' %}">
		<link href="{% static 'PG/css/responsive-slider.css' %}" rel="stylesheet">
		<link rel="stylesheet" href="{% static 'PG/css/animate.css' %}">
        <link rel="stylesheet" href="{% static 'PG/css/style.css' %}">

		<link rel="stylesheet" href="{% static 'PG/css/font-awesome.min.css' %}">
		<!-- skin -->
		<link rel="stylesheet" href="{% static 'PG/skin/default.css' %}">
    </head>
{% block body %}
    <body>

	<div class="header">
	<section id="header" class="appear">
  <nav class="navbar navbar-custom navbar-fixed-top" role="navigation" data-300="line-height:60px; height:60px; background-color:rgba(0,0,0,1);">
		<!-- <div class="navbar navbar-fixed-top" > -->

				<div class="navbar-header" >
					<h1><a class="navbar-brand" href="#" >Public Grievance Addressal System
					</a></h1>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav" >
					    <li><a href="{% url 'companies:register' %} " target="_blank">Register</a></a></li>
					    <li><a href="{% url 'companies:login' %}" target="_blank">Login</a></a></li>
						<li><a href="{% url 'companies:test' %}">Home</a></li>
            <li><a href="{% url 'companies:problems' %}">Reported Problems</a></li>
						<!-- <li><a href="#section-about">About</a></li> -->
						<li><a href="{% url 'companies:service' %}">Service</a></li>
						<li class="active"><a href="{% url 'companies:team' %}">Team</a></li>
						<li><a href="{% url 'companies:contact' %}">Contact</a></li>
					</ul>
				</div><!--/.navbar-collapse -->

</nav>

	</section>
	</div>		<!-- team -->
		<section id="team" class="team-section appear clearfix">
		<div class="container">

				<div class="row mar-bot10">
					<div class="col-md-offset-3 col-md-6">
						<div class="section-header">
						<div class="wow bounceIn">

							<h2 class="section-heading animated" data-animation="bounceInUp">Our Team</h2>
              <p>Web Contributors</p>


						</div>
						</div>
					</div>
				</div>
        <div class="col-md-4">

          <div class="wow bounceIn">
          <div class="team-member">
            <div class="profile-picture">
              <figure><img src="{% static 'PG/img/sunil.jpg' %}" alt=""></figure>
              <div class="profile-overlay"></div>
                <div class="profile-social">
                  <div class="icons-wrapper">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-pinterest"></i></a>
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                  </div>
                </div>
            </div>
            <div class="team-detail">
              <h4>Sunil Kumar</h4>
              <span>Back End</span>
            </div>
            <div class="team-bio">
            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, fugiat, harum, adipisci accusantium minus asperiores.</p> -->
            </div>
          </div>
          </div>
        </div>

						<div class="col-md-4">

							<div class="wow bounceIn">
							<div class="team-member">
								<div class="profile-picture">
									<figure><img src="{% static 'PG/img/vamshi.jpg' %}" alt=""></figure>
									<div class="profile-overlay"></div>
										<div class="profile-social">
											<div class="icons-wrapper">
												<a href="#"><i class="fa fa-facebook"></i></a>
												<a href="#"><i class="fa fa-twitter"></i></a>
												<a href="#"><i class="fa fa-linkedin"></i></a>
												<a href="#"><i class="fa fa-pinterest"></i></a>
												<a href="#"><i class="fa fa-google-plus"></i></a>
											</div>
										</div>
								</div>
								<div class="team-detail">
									<h4>Vamshi Krishna Repala</h4>
									<span>Front End</span>
								</div>
								<div class="team-bio">
								<!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, fugiat, harum, adipisci accusantium minus asperiores.</p> -->
								</div>
							</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="wow bounceIn">
							<div class="team-member">
								<div class="profile-picture">
									<figure><img src="{% static 'PG/img/vineeth.jpg' %}" alt=""></figure>
									<div class="profile-overlay"></div>
										<div class="profile-social">
											<div class="icons-wrapper">
												<a href="#"><i class="fa fa-facebook"></i></a>
												<a href="#"><i class="fa fa-twitter"></i></a>
												<a href="#"><i class="fa fa-linkedin"></i></a>
												<a href="#"><i class="fa fa-pinterest"></i></a>
												<a href="#"><i class="fa fa-google-plus"></i></a>
											</div>
										</div>
								</div>
								<div class="team-detail">
									<h4>K V Sai Vineeth</h4>
									<span>Back End</span>
								</div>
								<div class="team-bio">
								<!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, fugiat, harum, adipisci accusantium minus asperiores.</p> -->
								</div>
							</div>
							</div>
						</div>
    <div class="col-md-4">
							<div class="wow bounceIn">
							<div class="team-member">
								<div class="profile-picture">
									<figure><img src="{% static 'PG/img/pavan.jpg' %}" alt=""></figure>
									<div class="profile-overlay"></div>
										<div class="profile-social">
											<div class="icons-wrapper">
												<a href="#"><i class="fa fa-facebook"></i></a>
												<a href="#"><i class="fa fa-twitter"></i></a>
												<a href="#"><i class="fa fa-linkedin"></i></a>
												<a href="#"><i class="fa fa-pinterest"></i></a>
												<a href="#"><i class="fa fa-google-plus"></i></a>
											</div>
										</div>
								</div>
								<div class="team-detail">
									<h4>Pavan Dhawalesvarapu</h4>
									<span>Front End</span>
								</div>
								<!-- <div class="team-bio">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, fugiat, harum, adipisci accusantium minus asperiores.</p>
								</div> -->
							</div>
							</div>
						</div>


	    				<div class="col-md-4">
							<div class="wow bounceIn">
							<div class="team-member">
								<div class="profile-picture">
									<figure><img src="{% static 'PG/img/' %}" alt=""></figure>
									<div class="profile-overlay"></div>
										<div class="profile-social">
											<div class="icons-wrapper">
												<a href="#"><i class="fa fa-facebook"></i></a>
												<a href="#"><i class="fa fa-twitter"></i></a>
												<a href="#"><i class="fa fa-linkedin"></i></a>
												<a href="#"><i class="fa fa-pinterest"></i></a>
												<a href="#"><i class="fa fa-google-plus"></i></a>
											</div>
										</div>
								</div>
								<div class="team-detail">
									<h4>Nagaraju</h4>
									<span>Front End</span>
								</div>
								<!-- <div class="team-bio">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, fugiat, harum, adipisci accusantium minus asperiores.</p>
								</div> -->
							</div>
							</div>
						</div>




					</div>

		</div>

		<br>
		<br>
		<p> App Contributors</p>
		<div class="col-md-4">

          <div class="wow bounceIn">
          <div class="team-member">
            <div class="profile-picture">
              <figure><img src="{% static 'PG/img/b1.jpg' %}" alt=""></figure>
              <div class="profile-overlay"></div>
                <div class="profile-social">
                  <div class="icons-wrapper">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-pinterest"></i></a>
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                  </div>
                </div>
            </div>
            <div class="team-detail">
              <h4>Bharath</h4>
              <!--<span>Back End</span>-->
            </div>
            <div class="team-bio">
            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, fugiat, harum, adipisci accusantium minus asperiores.</p> -->
            </div>
          </div>
          </div>
        </div>
        <div class="col-md-4">

          <div class="wow bounceIn">
          <div class="team-member">
            <div class="profile-picture">
              <figure><img src="{% static 'PG/img/dinesh.jpg' %}" alt=""></figure>
              <div class="profile-overlay"></div>
                <div class="profile-social">
                  <div class="icons-wrapper">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-pinterest"></i></a>
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                  </div>
                </div>
            </div>
            <div class="team-detail">
              <h4>Dinesh</h4>
              <!--<span>Back End</span>-->
            </div>
            <div class="team-bio">
            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, fugiat, harum, adipisci accusantium minus asperiores.</p> -->
            </div>
          </div>
          </div>
        </div>
        <div class="col-md-4">

          <div class="wow bounceIn">
          <div class="team-member">
            <div class="profile-picture">
              <figure><img src="{% static 'PG/img/' %}" alt=""></figure>
              <div class="profile-overlay"></div>
                <div class="profile-social">
                  <div class="icons-wrapper">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-pinterest"></i></a>
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                  </div>
                </div>
            </div>
            <div class="team-detail">
              <h4>Shanmukh</h4>
              <!--<span>Back End</span>-->
            </div>
            <div class="team-bio">
            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, fugiat, harum, adipisci accusantium minus asperiores.</p> -->
            </div>
          </div>
          </div>
        </div>

		</section>


		<!-- map -->


	<a href="#header" class="scrollup"><i class="fa fa-chevron-up"></i></a>

{% endblock %}
<script src="{% static 'PG/js/modernizr-2.6.2-respond-1.1.0.min.js' %}"></script>
<script src="{% static 'PG/js/jquery.js' %}"></script>
<script src="{% static 'PG/js/jquery.easing.1.3.js' %}"></script>
  <script src="{% static 'PG/js/bootstrap.min.js' %}"></script>
<script src="{% static 'PG/js/jquery.isotope.min.js' %}"></script>
<script src="{% static 'PG/js/jquery.nicescroll.min.js' %}"></script>
<script src="{% static 'PG/js/fancybox/jquery.fancybox.pack.js' %}"></script>
<script src="{% static 'PG/js/skrollr.min.js' %}"></script>
<script src="{% static 'PG/js/jquery.scrollTo-1.4.3.1-min.js' %}"></script>
<script src="{% static 'PG/js/jquery.localscroll-1.2.7-min.js' %}"></script>
<script src="{% static 'PG/js/stellar.js' %}"></script>
<script src="{% static 'PG/js/responsive-slider.js' %}"></script>
<script src="{% static 'PG/js/jquery.appear.js' %}"></script>
<script src="{% static 'PG/js/grid.js' %}"></script>
  <script src="{% static 'PG/js/main.js' %}"></script>
  <script src="{% static 'PG/js/wow.min.js' %}"></script>
<script>wow = new WOW({}).init();</script>
  <script src="{% static 'PG/contactform/contactform.js' %}"></script>
</body>
</html>
