
{% block content %}
  <h2>Welcome, Mr.{{ user.username }}!</h2>


{% if user.is_authenticated %}
  <a href="{% url 'companies:logout' %}">logout</a>
  {% endif %}
{% endblock %}

{% block body %}
<body>
<table>
  <thead>
    <tr><td>Token</td><td>Description</td><td>Status</td><td>Priority</td><td>UpdateStatus</td><td>SetPriority</td><td></td><td>Click Delete to invalidate the problem</td></tr>
  </thead>
  {% for P in Problem %}
<tr>
<td><a href="display/{{P.id}}">{{P.id}}</a></td><td> {{P.desc}}</td><td> {{P.status}}</td><td>{{P.priority}}</td>

<form  action="{% url "companies:update" %}" method="POST" accept-charset="UTF-8">
  {% csrf_token %}
<td>  <input name="status" type="Integer"  id="status" value="{{P.status }}"></td>
  <input name = "pid" id="pid" value="{{P.id}}" type="hidden" >
<td> <input name="priority" type="text"  id="priority" value="{{ P.priority }}"></td>

<td>  <button type="submit">
    <i class="spinner"></i>
    <span class="state">Update</span>
  </button></td>

</form>



<td>
<p><a href="delete/{{P.id}}">Delete </a> </p>
</td></tr>

{% endfor %}
</table>
{% endblock %}
